In [14]:
import sys
sys.path.append('..')

import pandas as pd
import numpy as np
from src.utils import parse_results

In [9]:
res2416 = pd.read_csv("./results2416.csv")
res3216 = pd.read_csv("./results3216.csv")

res2416.sort_values(by=['accuracy'], ascending=True)
res2416['arch'] = ['2416' for _ in range(len(res2416))]
res2416

      eta  nesterov reg_type       reg_val  accuracy      loss  val_loss  arch
0    0.01       0.8       L2  1.000000e-07  1.547548  0.004338  1.970003  2416
1    0.01       0.8       L2  1.000000e-08  1.538506  0.004314  1.968415  2416
2    0.01       0.8       L2  1.000000e-06  1.532275  0.004192  1.970249  2416
3    0.01       0.8       L2  1.000000e-05  1.573594  0.004589  2.007588  2416
4    0.01       0.8       L1  1.000000e-07  1.559244  0.004382  2.008624  2416
..    ...       ...      ...           ...       ...       ...       ...   ...
115  0.10       0.6       L2  1.000000e-05  1.558921  0.004230  1.954050  2416
116  0.10       0.6       L1  1.000000e-07  1.600927  0.004232  2.015619  2416
117  0.10       0.6       L1  1.000000e-08  1.570318  0.004096  2.010129  2416
118  0.10       0.6       L1  1.000000e-06  1.566416  0.004161  1.999335  2416
119  0.10       0.6       L1  1.000000e-05  1.572498  0.004709  2.020109  2416

[120 rows x 8 columns]

In [15]:
res3216['arch'] = ['3216' for _ in range(len(res3216))]
res3216.sort_values(by=['accuracy'], ascending=True)

,eta,nesterov,reg_type,reg_val,accuracy,loss,val_loss,arch
36,0.010,0.6,L1,1.000000e-07,1.516977,0.003936,1.907787,3216
21,0.010,0.7,L1,1.000000e-08,1.520069,0.003872,1.898781,3216
5,0.010,0.8,L1,1.000000e-08,1.523364,0.003800,1.884325,3216
32,0.010,0.6,L2,1.000000e-07,1.523855,0.003699,1.917247,3216
99,0.100,0.7,L2,1.000000e-05,1.524869,0.003758,1.890357,3216
...,...,...,...,...,...,...,...,...
79,0.001,0.6,L1,1.000000e-05,7.240312,0.065245,29.895940,3216
55,0.001,0.9,L1,1.000000e-05,7.240577,0.065246,29.895930,3216
78,0.001,0.6,L1,1.000000e-06,7.240586,0.065246,29.896241,3216
47,0.001,0.8,L1,1.000000e-05,7.240609,0.065246,29.895976,3216
62,0.001,0.7,L1,1.000000e-06,7.243286,0.065248,29.894284,3216

In [27]:
# merge results
res = pd.concat([res2416, res3216])
res['reg_val'] = res['reg_val'].apply(lambda x: np.log10(x))
res.sort_values(by=['accuracy'], ascending=True).head(8)

     eta  nesterov reg_type  reg_val  accuracy      loss  val_loss  arch
36  0.01       0.6       L1     -7.0  1.516977  0.003936  1.907787  3216
33  0.01       0.6       L2     -8.0  1.518496  0.004098  1.932224  2416
21  0.01       0.7       L1     -8.0  1.520069  0.003872  1.898781  3216
5   0.01       0.8       L1     -8.0  1.523364  0.003800  1.884325  3216
32  0.01       0.6       L2     -7.0  1.523855  0.003699  1.917247  3216
99  0.10       0.7       L2     -5.0  1.524869  0.003758  1.890357  3216
5   0.01       0.8       L1     -8.0  1.526607  0.003969  1.927129  2416
25  0.01       0.5       L2     -8.0  1.526990  0.003787  1.893366  3216

In [29]:
res.sort_values(by=['accuracy'], ascending=True).head(8).to_csv("./results_coarse_mix.csv", index=False, sep='&')